.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* sass color naming */
body {
    font-family: "Barlow Semi Condensed", "Helvetica Neue", Arial, sans-serif;
    background-color: #d1d2d7;
}

:root {
    /*shadow*/
    --color-shadow: rgba(0, 0, 0, 0.05);
    /* Primary */
    --Purple_50: hsl(260, 100%, 95%);
    --Purple_300: hsl(264, 82%, 80%);
    --Purple_500: hsl(263, 55%, 52%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey_100: hsl(214, 17%, 92%);
    --Grey_200: hsl(0, 0%, 81%);
    --Grey_400: hsl(224, 10%, 45%);
    --Grey_500: hsl(217, 19%, 35%);
    --Dark_blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}
.card-img{
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.card {
    width: 14.2rem;
    border-radius: 5px;
    padding: 15px 30px;
    border: 50px;
    box-shadow: 0 4px 20px 0 var(--color-shadow);

}

.image {
    border-radius: 50%;
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 17px;
}

.author {
    display: flex;
    float: left;
}

.float {
    vertical-align: middle;
}

.Daniel {
    background-color: var(--Purple_500);
    color: var(--White);
}

.Daniel>.author>.n1 {
    border: 2px var(--White) solid;
}

.status {
    font-size: 13px;
}

.bold {
    font-weight: 600;
    font-size: 18px;
}

.small-text {
    font-size: 12.5px;
}

.Jonathan {
    background-color: var(--Grey_500);
    color: var(--White);
}

.Jonathan>.small-text,
.Jonathan>.float>.status {
    color: var(--Grey_200);
}

.Jeanette,
.Kira {
    background-color: var(--White);
    color: var(--Grey_400);
}

.Patrick {
    background-color: var(--Dark_blue);
    color: var(--White);
}

.Patrick>.author>.n4 {
    border: 2px var(--Purple_500) solid;
}

.Jeanette>.bold,
.Kira>.bold {
    color: var(--Grey_500);
}

.Jeanette>.float>.name,
.Kira>.float>.name {
    color: var(--Grey_500);
    font-weight: 500;
}

@media (min-width:600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);

    }

    .Daniel {
        width: 28.125rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .Jonathan {
        width: 11.563rem;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .Kira {
        width: 11.25rem;
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .Patrick {
        width: 28.125rem;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .Jeanette {
        width: 11.563rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .Jeanette > .bold{
        font-size: 19px;
    }
    .card{
        position: relative;
    } 
    .card-img{
        display: flex;
        z-index: 0;
        position: absolute;
        top: 0;          
        right: 80px;     
        z-index: 1; 
    }
    .bold{
        position: relative;
        z-index: 2;
    }
}